name: Test Deploy

on:
  workflow_run:
    workflows: ["Test Build"]
    types:
      - completed
  workflow_dispatch:
    
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./website
          publish_branch: gh-pages
          github_token: ${{ secrets.SDE_TOKEN }}